<!--View Information-->
<!--View name : Fake Login-->
<!--State name : app.fakeLogin-->
<!--URL : #app/fakeLogin-->

<ion-view title="Sign In">

    <!--login content section-->
    <ion-content id="social-login" class="bg-white">
        <!--fake login form section-->
        <form class="fakeLogin-form" ng-submit="doLogIn(user)">
            <div>
                <img src="img/app_icon.png"/>
            </div>
            <div class="sub-header">Authenticatin Required</div>

            <div id="fakeLogin">
                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="Username" ng-model="user.email">
                </md-input-container>
                <hr/>
                <md-input-container md-no-float="">
                    <input class="user-password" type="password" placeholder="Password" ng-model="user.password">
                </md-input-container>
            </div>
            <div>
                <a class="md-raised social-button md-button md-default-theme material-background" ng-click="doLogIn(user)">
                    Sign In
                </a>
            </div>
        </form> <!--end fake login form section-->
    </ion-content><!--end login content section-->
</ion-view>