<!--View Information-->
<!--View name : Expense Dashboard-->
<!--Controller name : expenseDashboardCtrl-->
<!--Controller path : www/templates/themes/expense-dashboard/js/controllers.js-->
<!--State name : app.expense-->
<!--URL : #app/expense-->

<ion-view title="Profile Agent" id="expense-dashboard">

    <!--right button on navigation bar-->
    <ion-nav-buttons side="right">
        <md-button class="md-icon-button ion-nav-button-right" ng-click="goToSetting()"
                   aria-label="Setting">
            <i class="ion-android-more-vertical"></i>
        </md-button>
    </ion-nav-buttons> <!--end right button on navigation bar-->

    <!--expense toolbar section-->
    <md-toolbar class="bar-subheader md-tall md-primary toolbar-expense">
        <div>
            <img src="{{photo}}" class="user-img"/>

            <h1>{{fullname}}</h1>

            <h2>{{level}}</h2>
        </div>
    </md-toolbar><!--end expense toolbar section-->

    <!--expense content section-->
    <ion-content id="expense-dashboard-content">

        <!--Below code it will disable animation to better performance-->
        <div ng-if="!isAnimated" class="list-expense-menu">
            <div class="list-expense-menu-item"  ng-click="doSomeThing()">
                <div class="row">
                    <div class="col-20">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Jumlah Tugas</p>

                        <p class="detail">{{tugas}}</p>
                    </div>
                </div>
            </div>
            <div class="list-expense-menu-item"  ng-click="doSomeThing()">
                <div class="row">
                    <div class="col-20">
                        <i class="fa fa-sign-in"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Tugas Selesai</p>

                        <p class="detail">{{selesai}}</p>
                    </div>
                </div>
            </div>
            <div class="list-expense-menu-item"  ng-click="doSomeThing()">
                <div class="row">
                    <div class="col-20">
                        <i class="fa fa-inbox"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Tugas Tertunda</p>

                        <p class="detail">{{tunda}}</p>
                    </div>
                </div>
            </div>
            <div class="list-expense-menu-item"  ng-click="doSomeThing()">
                <div class="row">
                    <div class="col-20">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">Atasan</p>

                        <p class="detail">Joko Widodo</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Below code it will show animation when selecting row.-->
        <md-list ng-if="isAnimated">
            <md-list-item class="row" ng-click="doSomeThing()">
                <div class="col-20 icon">
                    <i class="fa fa-money"></i>
                </div>
                <div class="col-80 menu">
                    <p class="header">Jumlah Tugas</p>

                    <p class="detail">{{tugas}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item class="row" ng-click="doSomeThing()">
                <div class="col-20 icon">
                    <i class="fa fa-sign-in"></i>
                </div>
                <div class="col-80 menu">
                    <p class="header">Tugas Selesai</p>

                    <p class="detail">{{selesai}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item class="row" ng-click="doSomeThing()">
                <div class="col-20 icon">
                    <i class="fa fa-inbox"></i>
                </div>
                <div class="col-80 menu">
                    <p class="header">Tugas Tertunda</p>

                    <p class="detail">{{tunda}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item class="row" ng-click="doSomeThing()">
                <div class="col-20 icon">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="col-80 menu">
                    <p class="header">Atasan</p>

                    <p class="detail">Joko Widodo</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>

        </md-list>
    </ion-content><!--end expense content section-->
</ion-view>