<!--View Information-->
<!--View name : Online Course-->
<!--State name : app.onlineCourse-->
<!--URL : #app/onlineCourse-->

<!--Online course section-->
<ion-view title="{{product.firstName}}" id="online-course">
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <ion-content id="product-detail-content" class="fade-in" overflow-scroll="true">
        <md-content>
            <!--product tabs section-->
            <md-tabs md-border-bottom md-selected="0" id="product-detail-tabs" class="no-border">
                <!--product tab detail section-->
                <md-tab label="Detail">
                    <md-content id="product-detail-tab-detail">
                        <div class="detail-form">
                            <div class="header">
                                <h1>{{product.firstName}} {{product.lastName}}</h1>

                                <p>{{product.telephone}}</p>
                            </div>
                            <!--product tab detail price section-->
                            <div class="product-detail-price">
                                <div class="right">
                                    <a class="md-raised md-warn md-button md-default-theme" ng-click="addToCart()">
                                        {{product.status}}
                                    </a>
                                </div>
                            </div><!--end product tab detail price section-->

                            <!--product tab detail review section-->
                            <div class="product-detail-review">
                                <p>Potensial :
                                    <span>
                                        <i class="fa fa-star" ng-repeat="potensi in potensial"></i>
                                    </span>
                                </p>
                            </div><!--end product tab detail review section-->

                            <!--product tab detail shipping section-->
                            <div class="product-detail-shipping row" ng-repeat="pesan in detailProduct">
                                <div class="col-67">
                                    <p>Product : {{pesan.nama}}</p>
                                    <p>harga : {{pesan.harga | currency:"Rp ":0}}</p>
                                </div>
                                <div class="col-33">
                                    <p>In Stock</p>

                                    <p><i class="fa fa-cube"></i></p>
                                </div>
                            </div><!--end product tab detail shipping section-->
                            <!--product tab detail note section-->
                        </div>
                    </md-content>
                </md-tab><!--end product tab detail section-->

                <!--product tab product section-->
                <md-tab label="History">
                    <md-content class="md-padding">
                            <div class="course-list">

                                <!--content item section-->
                                <div class="course-item">
                                    <div class="title angular-course-background">
                                        Menghubungi
                                    </div>
                                    <div class="content">
                                        <h1>
                                            Menghubungi Pelanggan
                                        </h1>

                                        <p>
                                            Gunakan menu ini untuk menghubungi pelanggan
                                        </p>

                                        <p>
                                            <a ng-click="tel()" class="md-raised md-button md-default-theme angular-course-background">
                                                <i class="fa fa-phone"></i> {{product.call}}</a>
                                            <a ng-click="sms()" class="md-raised md-button md-default-theme angular-course-background">
                                                <i class="fa fa-commenting"></i>{{product.sms}}</a>
                                            <a ng-click="surat()" class="md-raised md-button md-default-theme angular-course-background">
                                                <i class="fa fa-envelope"></i>{{product.surat}}</a>
                                        </p>
                                    </div>
                                </div> <!--end content item section-->

                                <!--content item section-->
                                <div class="course-item">
                                    <div class="title ionic-course-background">
                                        Pertemuan
                                    </div>
                                    <div class="content">
                                        <h1>
                                            Mengatur Pertemuan
                                        </h1>

                                        <p>
                                            Gunakan menu ini untuk mengatur pertemuan dengan pelanggan
                                        </p>

                                        <p>
                                            <a href="" class="md-raised md-button md-default-theme ionic-course-background" ng-click="navigateTo('app.meetlist',product)">
                                                <i class="fa fa-calendar"></i> {{pertemuan}}</a>
                                        </p>
                                    </div>
                                </div><!--end content item section-->

                                <!--content item section-->
                                <div class="course-item">
                                    <div class="title ios-course-background">
                                        Penawaran
                                    </div>
                                    <div class="content">
                                        <h1>
                                            Membuat Penawaran
                                        </h1>

                                        <p>
                                            Gunakan menu ini untuk membuat penawaran
                                        </p>

                                        <p>
                                            <a href="" class="md-raised md-button md-default-theme ios-course-background" ng-click="navigateTo('app.quotelist',product)">
                                                <i class="fa fa-file-text"></i> {{penawaran}}</a>
                                        </p>
                                    </div>
                                </div><!--end content item section-->

                                <!--content item section-->
                                <div class="course-item">
                                    <div class="title android-course-background">
                                        Kesepakatan
                                    </div>
                                    <div class="content">
                                        <h1>
                                            Membuat Kesepakatan
                                        </h1>

                                        <p>
                                            Gunakan menu ini untuk membuat kesepakatan
                                        </p>

                                        <p>
                                            <a href="" class="md-raised md-button md-default-theme android-course-background" ng-click="navigateTo('app.deallist',product)">
                                                <i class="fa fa-handshake-o"></i> {{kesepakatan}}</a>
                                        </p>
                                    </div>
                                </div><!--end content item section-->

                            </div>
                    </md-content>
                </md-tab> <!--product tab product section-->
            </md-tabs><!--end product tabs section-->
        </md-content>
    </ion-content>

    <div id="product-detail-loading-progress" class="loading-progress fade-in">
        <ion-spinner ng-if="!isAndroid" class="progress-circular"></ion-spinner>
        <md-progress-circular ng-if="isAndroid" md-mode="indeterminate"></md-progress-circular>
    </div> <!--end loading progress-->

    <!--canvas for save image to local devise-->
    <canvas id="imgCanvas" class="display-none"></canvas>

    <!--angular template section-->
    <script type="text/ng-template" id="bottom-sheet-shared.html">
        <md-bottom-sheet class="md-grid">
            <!--list section-->
            <md-list id="bottom-sheet-grid-md-list">
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedFacebook()">
                        <md-icon md-svg-src="facebook"></md-icon>
                        <div class="md-grid-text"> Facebook</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedTwitter()">
                        <md-icon md-svg-src="twitter"></md-icon>
                        <div class="md-grid-text"> Twitter</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedMail()">
                        <md-icon md-svg-src="mail"></md-icon>
                        <div class="md-grid-text"> Mail</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="saveImage()">
                        <i class="ion-android-image"></i>

                        <div class="md-grid-text"> Save Image</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedMore()">
                        <md-icon md-svg-src="share-arrow"></md-icon>
                        <div class="md-grid-text"> More</div>
                    </a>
                </md-list-item>
            </md-list> <!--end list section-->
        </md-bottom-sheet>
    </script>

</ion-view><!--end online course section-->