<!--View Information-->
<!--View name : Menu Dashboard-->
<!--Controller name : menuDashboardCtrl-->
<!--Controller path : www/templates/themes/menu-dashboard/js/controllers.js-->
<!--State name : app.menuDashboard-->
<!--URL : #app/menuDashboard-->

<ion-view title="Dashboard">
    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">
        <!--panel section-->
        <div class="menu-panel">
            <div class="row">
                <div class="col-33" ng-click="navigateTo('app.expense')">
                    <i class="fa fa-user"></i>

                    <p>Profile</p>
                </div>
                <div class="col-33" ng-click="navigateTo('app.defaultUI')">
                    <i class="fa fa-suitcase"></i>

                    <p>Tugas</p>
                </div>
                <div class="col-33" ng-click="navigateTo('app.contractlist')">
                    <i class="fa fa-users"></i>

                    <p>Pelanggan</p>
                </div>
            </div>

            <div class="row">
                <div class="col-33" ng-click="navigateTo('app.productList')">
                    <i class="fa fa-cubes"></i>

                    <p>Product</p>
                </div>
                <div class="col-33" ng-click="navigateTo('app.androidMapConnect')">
                    <i class="fa fa-map"></i>

                    <p>Location</p>
                </div>
                <div class="col-33" ng-click="navigateTo('app.deviceInformation')">
                    <i class="fa fa-info"></i>

                    <p>Info</p>
                </div>
            </div>
        </div><!--end panel section-->

        <!--panel footer section-->
        <div class="menu-dashboard-footer">
            <md-whiteframe class="md-whiteframe-z1" layout ng-repeat="task in tasks | filter: { status: filterText } | orderBy: 'status'">
                <div class="row">
                    <div class="col-10">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="col-80">
                        {{ task.firstName }}
                    </div>
                    <div class="col-10">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </md-whiteframe>
        </div><!--end panel footer section-->
    </ion-content><!--Menu dashboard section-->
</ion-view>